/* 
Created on : Oct 6, 2017, 10:07:26 AM
Author     : Raymond Sugiarto
*/

/**
 * TABLE OF CONTENTS
 *
 *  1. GLOBAL
 *      1.1 HEADER
 *  2. HELPERS
 *      2.1 GENERAL
 *      2.2 BUTTON
 *      2.3 ICON
 *  3. PLUGINS
 *      3.1 SLIDER
 *  4. PAGE
 *      4.1 PROJECT
 *      
 *      
 */

/* 4.1 PROJECT */
#project-list {
    
}
    #project-list #created {
        width: 10% !important;
    }

